* {
  box-sizing: border-box;
}
.container {
  background: lightslategrey;
}
.gameboard {
  width: 605px;
  height: 605px;
  border: 2px solid blue;
  position: relative;
  display: inline-block;
}

.square {
  border: 2px solid white;
  width: 200px;
  height: 200px;
  display: inline-block;
  position: relative;
  float: right;
  background-image: url("images/square_stars.png");
}

.playerBoard {
  width: 410px;
  float: right;
  position: relative;
  right: 300px;
  border: 2px solid blue;
}

.playerBoard img {
  width: 200px;
}

.playerOne  {
  display: inline-block;
}

.playerTwo {
  float: right;
  display: inline-block;
}
