* {
  box-sizing: border-box;
}
.container {
  background-image: url("images/white_house.jpg");
  background-size: cover;
}
.gameboard {
  width: 605px;
  height: 605px;
  border: 2px solid red;
  position: relative;
  display: inline-block;
}

.square {
  border: 2px solid red;
  width: 200px;
  height: 200px;
  display: inline-block;
  position: relative;
  float: right;
  background-image: url("images/square_stars.png");
}

.playerBoard {
  width: 410px;
  float: right;
  position: relative;
  right: 300px;
  border: 2px solid blue;
}

.playerBoard img {
  width: 200px;
}

.playerOne  {
  display: inline-block;
}

.playerTwo {
  float: right;
  display: inline-block;
}

button.start {
  border: none;
  padding: 20px;
  border-radius: 5px;
  background: #1F1F65;
  color: white;
  font-size: 16px;
}
